.header_black {
    position: fixed;
    height: 125px;
    width: 100%;
    color: white;
    background: black;
}

.flex {
    display: flex;
    width: 100%;
    table-layout:fixed;
}

.logo_white {
    position: absolute;
    top: 10%; left: 3%;
    margin-left: 2%;
}

#nav_white {
    position: absolute;
    top: 10%; right: 3%;
    color: white;

    text-align: right;
    letter-spacing: 2px;
    list-style: none;

    line-height: 35px;
}