.about-page {
    width: auto;
    height: 125vh;
    background: black;
}

.about-title {
    color: white;
    font-size: max(75px, 7.5vw);

    letter-spacing: 20px;
    padding-top: 125px;
    text-align: center;
}

.about-body {
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

.flex {
    display: flex;
    width: 100%;
    table-layout: fixed;
    margin-top: 3%;
}

.picture {
    max-width: 100%;

    vertical-align: top;
    padding-left: 40px;
    padding-right: 40px;
}

.picture img {
    height: auto;
    width: 600px;
}

.about-paragraph {

    vertical-align: top;
    width: 100%;
    max-width: 100%;
    height: 500px;

    font-size: 20px;
    color: grey;
    letter-spacing: .5px;

    padding-left: 40px;
}

/*********************/
/** Mobile Friendly **/
/*********************/

@media screen and (max-width: 1000px) {

    .about-page {
        height: 138vh;
    }

   .flex {
        flex-direction: column-reverse;
   }

   .picture {
        width: 50%;
        margin: auto;
        padding: 0px;
    }

    .picture img {
        height: auto;
        width: 50vw;
    }

    .about-paragraph {
        font-size: 20px;
        color: grey;
        letter-spacing: .5px;

        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
