.main-page {
    width: 100%;
    height: 100vh;
    color: black;
    text-align: center;
    background-color: transparent;
}

.main-title {
    color: black;
    font-size: max(85px, 7.5vw);
    letter-spacing: 20px;
    padding-top: 150px;
}

.main-body {
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
}

.main-social {
    letter-spacing: 2px;
}

#social-list {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    letter-spacing: 2px;
    list-style: none;
}

#social-list li {
    float: left;
    padding-left: 28px;
    text-decoration: underline;
}
